<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Students</title>
</head>
<body id="body-pd">

  <h1>Help</h1>

  <h5 class="card-subhead">How to send a message</h5>
  <p>1) First go to the students page(icon resembles a person) and either add students or upload an Excel file containing list of students. <br>
    2)Next go to the page the send page(icon resembles a text box) and fill in the blank with your message. Then click send. <br>
    </p>
  <h5 class="card-subhead">How to view record of message</h5>
  <p>1) Navigate to the message history page(icon resembles clock). Page shows the id of the message that was sent, the date sent, and the ID's of the recepients. <br>
    2) Navigate to the message page(icon resembles two people). Page shows the id of the admin who sent the message, the message text, and the date the record was created.
  </p>
  <h5 class="class-subhead">How to edit admin information</h5>
  <p>1) Navigate to the user page(icon resembles person in circle). <br>
    2) From here you can change the email or password.
    3) Input current password to change information.
    </p>
    <h5 class="class-subhead">How to add new users</h5>
    <p>1) Creating a new account requires the master key. <br>
      2) Once master key is inputted, new user will be able to sign up
      </p>

</body>
</html>

<script>
	// highlight the current page
	var element = document.getElementById("6");
	element.classList.add("active");
</script>
