<p id="notice"><%= notice %></p>

<h1>Masterkeys</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @masterkeys.each do |masterkey| %>
      <tr>
        <td><%= masterkey.key %></td>
        <td><%= link_to '<i class="bx bx-pencil nav_icon"></i>'.html_safe, edit_masterkey_path(masterkey) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

