<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Students</title>
</head>
<body id="body-pd">

    <h1>Add New Student</h1>
    <%= render 'form', student: @student %>

    <br>

    <div type="button" class="btn btn-primary">
        <%= link_to 'Back', students_path %>
    </div>


</body>
</html>

<script>
	// highlight the current page
	var element = document.getElementById("2");
	element.classList.add("active");
</script>