<h1>Editing Message History</h1>

<%= render 'form', message_history: @message_history %>

<%= link_to '<button type="button">Show</button>'.html_safe, @message_history %> |
<%= link_to '<button type="button">Back</button>'.html_safe, message_histories_path %>

<script>
	// highlight the current page
	var element = document.getElementById("3");
	element.classList.add("active");
</script>